.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 30px;
  width: calc(100% - 60px);
  height: 60px;
  /* pour avoir un espace à l'interieur on utilise padding */
  padding: 0 20px;
  /* pour avoir un espace à l'exterieur on utilise margin */
  margin-bottom: 20px;
  cursor: pointer;
}
.selected {
  border: 1px solid #0077cc;
  font-weight: bold;
}

.buy-button {
  display: flex;
  flex-direction: row;
}
.button {
  height: 44px;
  border-radius: 7px;
  font-size: 18px;
  color: white;
  border: 1px solid #0077cc;
  background: rgb(0, 113, 201);
  background: linear-gradient(
    0deg,
    rgba(0, 113, 201, 1) 35%,
    rgba(64, 160, 235, 1) 100%
  );
  margin-left: 30px;
  padding: 0 20px;
  cursor: pointer;
}
