body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}
/* Header */
header {
  padding: 8px 48px 8px 104px;
  border-bottom: 1px solid hsla(0, 0%, 80%, 0.534);
}
.logo {
  width: 150px;
}

/* CONTENT */
.sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #fff;
  padding: 8px 48px 8px 104px;
}
.sub-header-description {
  max-width: 890px;
}
.sub-header-title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1.5rem;
  opacity: 0.75;
}
.sub-header-description {
  width: 95%;
  margin-top: 2rem;
  line-height: 1.75rem;
  font-size: 1.3rem;
  opacity: 0.5;
}
.sub-header-img {
  width: 350px;
  margin-top: 16px;
  border-radius: 5px;
  margin-bottom: 16px;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 8px 48px 8px 104px;
  background-color: #f6f6f6;
}
.main-list {
  margin-top: 1.5rem;
  max-width: 850px;
}
.menu-categorie-title {
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.8;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0.5rem 0;
}
.card-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0.75rem 0 0.75rem 0.75rem;
  background: #fff;
  border-radius: 5px;
  width: 400px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.card-menu:hover {
  box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.07);
}
.card-menu-title {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.card-menu-description {
  max-width: 265px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  opacity: 0.7;
}
.card-menu-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.card-menu-bottom-price {
  opacity: 0.7;
  padding-right: 55px;
}
.card-menu-bottom-popular {
  font-weight: 700;
  color: #ff7300;
}

.card-menu-image {
  width: 135px;
  height: 115px;
  border-radius: 5px;
  margin: 0px 16px;
}
.card-panier {
  padding-left: 50px;
  width: 350px;
}

.card-panier-box {
  width: 350px;
  min-height: 200px;
  padding: 0.5rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
  position: sticky;
  top: 0;
}
.card-panier-button {
  width: 335px;
  height: 45px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 0px none;
  outline: currentcolor none medium;
  background: rgb(0, 214, 192) none repeat scroll 0% 0%;
  cursor: pointer;
}
.card-panier-items-list {
  display: flex;

  margin-bottom: 1rem;
  margin-top: 1rem;
}
.card-panier-item-nbr {
  display: inline-block;
  margin: 0 5px;
  opacity: 0.5;
}

.card-panier-item-title {
  margin-left: auto;

  opacity: 0.8;
}
.card-panier-item-price {
  display: inline-block;
  margin: 0 5px;
  margin-left: 170px;
  opacity: 0.8;
}
.card-panier-total-section {
  display: flex;
  margin-bottom: 1rem;
  padding: 0.8rem 0.3rem 0;
  border-top: 1px solid #ccc;
}
.card-panier-total-label {
  margin-right: auto;
  opacity: 0.8;
}
.card-panier-total-amount {
  opacity: 0.8;
}

.total {
  border: 0;
  margin-bottom: 1rem;
}

.ipkjHj {
  width: 335px;
  height: 45px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 0px none;
  outline: currentcolor none medium;
  cursor: pointer;
  background: rgb(204, 204, 204) none repeat scroll 0% 0%;
  transition: all 400ms linear 0s;
}
.total-final {
  font-size: 1.3rem;
  font-weight: 700;
}
/* FOOTER */

footer {
  background-color: #2e3333;
}
.footer-content {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
